In [3]:
import pandas as pd
import sqlite3

# Step 1: Load the Excel file into a DataFrame
file_path = 'Rates_DF_Example.xls'
df = pd.read_excel(file_path)

# Step 2: Data Cleaning and Descriptive Statistics
# Drop any rows with missing values
df.dropna(inplace=True)

In [5]:
df.drop_duplicates(inplace=True)

In [6]:
df

       service_code service_code_description hospital_ID     cost
0             29870             Knee surgery  1003820630  1432.34
1             29870             Knee surgery  1003820630  1016.51
2             29850              Hip Surgery  1003820630  1519.18
4             22818            Covid Vaccine  1003820630  5402.73
6             29870             Knee surgery  1013970078  1432.34
...             ...                      ...         ...      ...
10747         29850              Hip Surgery  95-4565259  1519.18
10749         22818            Covid Vaccine  95-4565259  5402.73
10751         29870             Knee surgery  95-4662001   622.72
10752         29850              Hip Surgery  95-4662001   664.62
10753         22818            Covid Vaccine  95-4662001  2280.51

[6159 rows x 4 columns]

In [ ]:
df.info(
    
)